@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animation-btn: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#__next {
  height: inherit;
  width: inherit;
}

#theme {
  height: inherit;
  width: inherit;
}

.bg-checkerboard {
  background: repeating-conic-gradient(#f0eaea 0% 25%, transparent 0% 50%) 50% /
    20px 20px;
}
